<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About As</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, rerum dicta? Asperiores officiis sit minima
            magni iusto error odit id cum voluptas nisi perferendis quasi quaerat voluptatem, eum nobis magnam?</p>
        <p>Veniam laboriosam harum pariatur unde quas, nam minima reiciendis, esse aut eaque laborum excepturi.
            Excepturi perferendis suscipit veritatis quas, porro illum! Mollitia, iusto. Hic autem nulla officiis
            itaque, vero architecto?</p>
        <p>Vero delectus, velit reiciendis esse, officia recusandae at vel accusamus nobis assumenda voluptates veniam
            ab excepturi eum perferendis repellendus culpa aut in. Corrupti animi, praesentium corporis minus harum
            sequi quod.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>

</html>